name: Deploy Voice Commerce Bot to EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/voice-commerce-bot:latest .

      # Push image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/voice-commerce-bot:latest

      # Deploy to EC2
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker stop voice-commerce-bot || true
            docker rm voice-commerce-bot || true
            docker rmi ${{ secrets.DOCKER_USERNAME }}/voice-commerce-bot:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/voice-commerce-bot:latest
            docker run -d -p 8501:8501 --rm --name voice-commerce-bot \
              ${{ secrets.DOCKER_USERNAME }}/voice-commerce-bot:latest
